@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    /* background-image: url('/1.jpg'); */
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.navbar {
    /* background-color:yellow; */
    /* @apply grid-cols-5 w-[35rem]; */
}


a {
    color: inherit;
    text-decoration: none;
    /* @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600 */
}

html {
    @apply selection:bg-green-400;
}